.Hidden {
    display: none;
}
div{
    background-color: white;
}
.ingredient{
    font-family: fantasy;
    color: midnightblue;
    font-size: larger;
}
p{
    font-family: cursive;
    font-size: larger;
    background-color: white;
    color: steelblue;
}
* {
    padding:40px 40px 40px 40px;
}
button {
    font-family: monospace;
}

#winmessage{
    border: dotted;
}

#Game-Snake {
}
body{
    background-color: plum;
}
ul{
    background-color: #aba9be
}
a {
    text-underline: none;
    color: black;
}