#Pic1a {
    background-image: url(http://www.fangchan.us/data/files/mall/article/201604031515354579.JPG);
}
.Hidden {
    display: none;
}
div{
    background-color: white;
}
.red {
    background-color: red;
}
.blue {
    background-color: navy;
    color: aquamarine;
}
.ingredient{
    font-family: fantasy;
    color: midnightblue;
    font-size: larger;
}
p{
    font-family: cursive;
    font-size: larger;
    background-color: white;
    color: steelblue;
}
* {
    padding:40px 40px 40px 40px;
}
button {
    font-family: monospace;
}

#winmessage{
    border: dotted;
}

#Game-Snake {
}
body{
    background-color: plum;
}
ul{
    background-color: #aba9be
}