body {
    margin:0;
    padding:0;
}

#game-area {
    margin:0;
    padding:0;
}

#high-score {
    position: relative;
    left: 200px;
    bottom: 50px;
}

#mode-wrapper {
    color: #ffffff;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    display: none;

}

#game-area:focus {
    outline: none;
}

.snake-pause-screen {
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position:absolute;
    width:300px;
    height:80px;
    text-align:center;
    top:50%;
    left:50%;
    margin-top:-40px;
    margin-left:-150px;
    display:none;
    background-color:black;
    color:white;
}

.snake-panel-component {
    position: absolute;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    text-align: center;
    padding: 8px;
    margin: 0;
}

.snake-snakebody-block {
    margin: 0;
    padding: 0;
    background-color: white;
    position: absolute;
    border: 0 solid #000080;
    background-repeat: no-repeat;
}

.snake-food-block {
    margin: 0;
    padding: 0;
    background-color: #FF0000;
    border: 0 solid #000080;
    position: absolute;
}

.snake-playing-field {
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #0000A8;
    border: 0 solid #0000A8;
}

.snake-game-container {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-style: none;
    zoom: 1;
    position: relative;
}

.snake-welcome-dialog {
    padding: 8px;
    margin: 0;
    background-color: #000000;
    color: #FF0000;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    /*height: 150px;*/
    margin-top: -100px;
    margin-left: -158px;
    text-align: center;
    display: block;
}

.snake-try-again-dialog {
    padding: 8px;
    margin: 0;
    background-color: #000000;
    color: #FF0000;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 100px;
    margin-top: -75px;
    margin-left: -158px;
    text-align: center;
    display: none;
}
.Hidden {
    display: none;
}
/* Variabes */
$orange: #ffa600;
$green: #c1d72e;
$blue: #82d2e5;
$grey:#f3f3f3;
$white: #fff;
$base-color:$green ;

/* Mixin's */

@mixin transition {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

@mixin clear {
&:after {
    content: "";
    display: table;
    clear: both;
}
}

@mixin box-size {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin transition {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@mixin fade {
    -moz-transition: all 1s ease-in;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}

@mixin opacity {
    opacity:0.4;
    filter:alpha(opacity=40);
@include fade;
}

@mixin corners ($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
    -khtml-border-radius: $radius;
}


.wrappper{
@include clear;
    width:100%;
    margin:0 auto;
}


canvas{
    color:$white;
    border: $white dashed 2px;
    padding:15px;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin:5px 0;
}

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 1.6em;
}

p{
    font-size: 1.6em;
}

#alphabet {
@include clear;
    margin:15px auto;
    padding:0;
    max-width:900px;
}

#alphabet li {
    float:left;
    margin: 0 10px 10px 0;
    list-style:none;
    width:35px;
    height:30px;
    padding-top:10px;
    background:$white;
    color:$base-color;
    cursor:pointer;
@include corners(5px);
    border: solid 1px $white;

&:hover{
     background:$base-color;
     border: solid 1px $white;
     color:$white;
 }
}

#my-word {
    margin: 0;
    display: block;
    padding: 0;
    display:block;
}

#my-word li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
    font-size:1.6em;
}

.active {
@include opacity;
    cursor:default;

&:hover{
 @include fade;
 @include opacity;
 }
}

#mylives{
    font-size:1.6em;
    text-align:center;
    display:block;
}

button{
@include corners (5px);
    background:$base-color;
    color:$white;
    border: solid 1px $white;
    text-decoration:none;
    cursor:pointer;
    font-size:1.2em;
    padding:18px 10px;
    width:180px;
    margin: 10px;
    outline: none;

&:hover{
 @include transition;
     background:$white;
     border: solid 1px $white;
     color:$base-color;
 }
}

@media (max-width: 767px) {
    #alphabet {
        padding:0 0 0 15px;
    }
}

@media (max-width: 480px) {
    #alphabet {
        padding:0 0 0 25px;
    }
}