.Hidden {
    display: none;
}
.ingredient{
    font-family: fantasy;
    color: midnightblue;
    font-size: larger;
}
p{
    font-family: cursive;
    font-size: larger;
    background-color: white;
    color: steelblue;
}
*{
    padding:40px 40px 40px 40px;
}
button {
    font-family: monospace;
}

#winmessage{
    border: dotted;
}
body{
    background-image: url("restaurant-carousel-1.jpg");
    background-size: 1500px;
}
ul{
    background-color: #aba9be
}