.red {
    background-color: red;
}
.blue {
    background-color: navy;
    color: aquamarine;
}
.order{
    display: none;
}
.firstingredient{
    display: none;
}
.secondingredient{
    display: none;
}
.wrong{
    display: none;
}
.thirdingredient{
    display: none;
}
.fourthingredient{
    display: none;
}
.fifthingredient{
    display: none;
}
.win{
    display: none;
}
.ingredient{
    font-family: fantasy;
    color: cornflowerblue;
    font-size: larger;
}
p{
    font-family: cursive;
    font-size: larger;
    background-color: white;
}
*{
    padding: 40px 40px 40px 40px;
}
button {
    font-family: monospace;
}

#winmessage{
    border: dotted;
    color: white;
}
body{
    background-image: url("restaurant-carousel-1.jpg");
}
ul{
    background-color: white;
}