.red {
    background-color: red;
}
.blue {
    background-color: blue;
    color: white;
}
.order{
    display: none;
}
.firstingredient{
    display: none;
}
.secondingredient{
    display: none;
}
.wrong{
    display: none;
}
.thirdingredient{
    display: none;
}
.fourthingredient{
    display: none;
}
.fifthingredient{
    display: none;
}
.win{
    display: none;
}